<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<nav>
			<header>HEIC Image Converter</header>
		</nav>
		<main>
			<div class="from-container">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="file" name="image_file" accept=".heic" required />

					<select name="image_type" id="image-type-section">
						<option disabled>-- Select Image type: --</option>
						<option label="jpeg">jpeg</option>
						<option label="png">png</option>
						<option label="svg">svg</option>
						<option label="gif">gif</option>
					</select>
					<input type="submit" value="Upload" />
				</form>

				<div>
					<span>{{ filename }}</span>
					<button>Download Image</button>
				</div>
			</div>
		</main>
	</body>
</html>
