<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<nav>
			<header>HEIC Image Converter</header>
		</nav>
		<main>
			<div class="from-container">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="file" enctype="multipart/form-data" name="file" accept=".heic" />
					<select>
						<option value="jpeg">jpeg</option>
						<option value="png">png</option>
						<option value="svg">svg</option>
						<option value="gif">gif</option>
					</select>
					<input type="submit" value="Upload" />
				</form>
			</div>
		</main>
	</body>
</html>
